@import 'bootstrap';

body {
	background-color: #F5F5F1;
	color: #333;
	font-family: Arial, Helvetica, Sans-serif;
}

.navbar-default{
	background-color: #EFEFEF;
}

.navbar-default .navbar-brand{
	font-family: guardian-egypt, georgia, serif;
	font-weight: 400;
	color: #d5641c;
	font-size: 30px;
}

.navbar-default .navbar-nav li a {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0192B5;
}


.jumbotron{
	background-image: url('https://dl.dropboxusercontent.com/s/ruw7ovriwzjlm99/jumbotron.jpg?dl=0.jpg');
	h1,h2 {
		font-family: guardian-egypt, georgia, serif;
	}
}

.center {
	text-align: center;
}

.col-md-6{
h3{ font-size: 45px;}
h5{font-size: 25px;}
p {font-size: 18px;}
}